h2{
    color:$grey;
    font-family: $bigShoulders;
    margin:2rem 0;
    text-transform: uppercase;
    font-size: 2.2rem;
}

.button{
    color: $grey;
    text-decoration: none;
    border-radius: 10px;
    background-color: $grey;
    padding:0.8rem 2.2rem;
    font-family: $lexend;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 700;
    border: 2px solid $grey;
}

p{
    color:$white;
    font-size: $bodyTextSize;
    font-family: $lexend;
    margin-bottom:5rem;
    line-height: 1.5em;
}